body {
  background-color: #f3f3f3;
}

.banner {
  background-image: url(../AnhCat/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 590px;
}
h1 {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 1000;
}
h2 {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 1000;
  color: #bd945f;
}
.container > p {
  width: 40%;
}
button {
  background-color: #bd945f;
  color: white;
  border: none;
}
#productcate {
  position: relative;
}
.danhmuc.container {
  position: absolute;

  top: -2.4rem;
  left: 7rem;
  background-color: white;
}
.slide > .col-md-3 {
  padding: 2rem;
}
section.body {
  background-color: #f3f3f3;
}
.spnoibat.container.py-5 {
  position: absolute;
  top: 16rem;
  left: 6rem;
}
.product > img {
  width: 100%;
}

#Spnoibat {
  position: relative;
  margin-top: auto;
}
.btn {
  border-radius: 50%;
  background-color: #bd945f;
  color: white;
}
#aboutus {
  background-image: url(../AnhCat/AnhCatTC-20240709T030502Z-001/AnhCatTC/ve-chung-toi/bg-about-us.jpg);
  height: 54rem;
  position: relative;
  margin-top: 50rem;
}
#aboutus::after {
  position: absolute;
  content: "";
  background-color: black;
  width: 100%;
  height: 54rem;
  opacity: 0.5;
}
.container_3 {
  color: white;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.title > h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  margin: 2rem auto;
  position: relative;
  width: fit-content;
}
.title > h3::before {
  position: absolute;
  top: 100%;
  content: "";
  width: 60%;
  height: 0.2rem;
  background-color: #bd945f;
  left: 50%;
  transform: translateX(-50%);
}
.aboutme_infor {
  display: grid;
}
.aboutme_infor > h4 {
  text-transform: uppercase;
  font-size: 15px;
}
.col-md-3.px-2 > img {
  width: 100%;
}
.col-md-6 {
  background-color: white;
  color: #2c2e53;
  width: 47%;
  margin: 0.6rem;
  padding: 0.6rem;
}
.col-md-6 > img {
  width: 4rem;
  height: 4rem;
}
.container.row {
  padding: 0 2.5rem;
}

.container_6 {
  margin: 0 auto;
  background-image: url(../AnhCat/AnhCatTC-20240709T030502Z-001/AnhCatTC/lienhe-bg.jpg);
  background-size: cover center;
  background-repeat: no-repeat;
  position: relative;
  height: 20rem;
  color: white;
}

.container-lg.row.animate {
  position: absolute;
  top: 11rem;
  left: 10rem;
}
.ttnoibat {
  position: relative;
  margin: 0;
  padding: 0;
}
.ttnoibat > img {
  width: 100%;
}
.ttnoibat__content {
  position: absolute;
  background-color: #bd945f;
  bottom: -2rem;
  color: white;
}

.d-flex.tintuc {
  height: 30%;
  width: 100%;
}
.tintuc_them{
  text-align: start;
}
.tintuc_them>a{
border: 1px solid black;
padding: 0.5rem;
margin: 1rem;


}
.tintuc > img {
  width: 90%;
  height: 90%;
}
.tintuc__content > h6 {
  font-size: 1.2rem;
  color: #bd945f;
  text-align: start;
  padding-left: 0.7rem;
}
.tintuc__content > p {
  font-size: 0.7rem;
  text-align: start;
  padding-left: 0.7rem;
}

img.aos-init.aos-animate {
  transform: translateZ(12);
  width: 20%;
  position: absolute;
  top: -2rem;
  left: 2rem;
}
input#email,
input#submit {
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
}
input#email {
  padding-left: 1rem;
}
.dt_logo > img {
  width: 15%;
  margin: 1rem;
}
